<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bechde">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bechde"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bechde"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".profileView"></activity>
        <activity android:name=".chat" />
        <activity android:name=".chatting" />
        <activity android:name=".showad" />
        <activity android:name=".account" />
        <activity android:name=".myad" />
        <activity android:name=".newad" />
        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>